body {
  background-color: mediumturquoise;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#myForm {
  max-width: 330px;
}
.container {
}
